<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>About Blog-Geo</mat-card-title>
        <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
    </mat-card-header>
    <!-- <img matCardImage src="Card wide image source"> -->

    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis earum ullam optio ad eos veritatis,
            temporibus pariatur doloribus facere dignissimos, repellendus ex perspiciatis? Laudantium, reiciendis sint
            doloribus quia optio cum?
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni tempora, perspiciatis mollitia molestiae
            totam et autem quod, incidunt labore culpa praesentium amet? Suscipit maxime, molestias modi architecto eos
            perferendis quibusdam?
        </p>
    </mat-card-content>

    <mat-card-actions align="start">
        <button mat-button (click)="onAction1">Share</button>
    </mat-card-actions>

    <mat-card-footer>
        Geo - Blog
    </mat-card-footer>
</mat-card>