<div class="container" *ngIf="post$ | async as post; else loading">
    <mat-card class="post-card">

        <img matCardImage class="align-center" [src]="post.imagePost">
        <mat-card-content>
            <mat-card-title>
                {{ post.titlePost }}
            </mat-card-title>
            <p class="content">
                <!-- Interpolar -->
                {{ post.contentPost }}
            </p>
        </mat-card-content>
    </mat-card>
</div>


<!-- Loading para saber si esta cargando los Posts -->
<!-- Se puede encapsular en un componente el loading -->
<ng-template #loading>
    <!-- Loading... -->
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>