<!-- pipe | async para subscribir el Observable-->
<div class="container" *ngIf="posts$ | async as posts; else loading">
    <!-- {{ posts$ | async | json }} -->
    <!-- <mat-card class="post-card" *ngFor="let post of posts$ | async"> -->
    <mat-card class="post-card" *ngFor="let post of posts">

        <app-post [post]="post"></app-post>
        <!-- {{ post.tagsPost | json }} -->
    </mat-card>
</div>

<!-- Loading para saber si esta cargando los Posts -->

<ng-template #loading>
    <!-- Loading... -->
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>