.container {
  margin-top: 25px;
  display: grid; // Tener en cuenta la compatibilidad con los navegadores si se desea poner en producción
  grid-template-columns: 24% 24% 24% 24%; // Dividir en 4 tarjetas
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-content: center;

  // a {
  //   cursor: pointer;
  //   color: #ffffff;
  //   text-decoration: none;
  // }

  .post-card {
    background: #444444;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

    // img {
    //   height: 200px;
    // }
    // p.content {
    //   white-space: nowrap;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    // }
  }
}
