<!-- <h2>New Post {{ message }} </h2> -->
<h2> {{ data.message }} </h2>

<!-- <h1 matDialogTitle>Title Edit</h1> -->

<mat-dialog-content class="dialog-content">
    <!-- hacer el toggle de un formulario al otro -->

    <div *ngIf="data.content; else showNewForm">
        <app-edit-post [post]="data.content"></app-edit-post>
    </div>

    <ng-template #showNewForm>
        <app-new-post></app-new-post>
    </ng-template>

</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button mat-button matDialogClose>Close dialog</button>
    <button mat-button>Action</button>

</mat-dialog-actions> -->